streamlit>=1.28.0
Pillow<10.0.0
opencv-python-headless==4.8.1.78
numpy<2.0.0
torch==2.0.1
torchvision==0.15.2
mobile-sam==2.1.0
scipy==1.11.4
streamlit-image-coordinates==0.1.6
streamlit-image-comparison==0.0.4
requests==2.31.0
timm==0.9.12
